<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154745300-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-154745300-1');
        </script>
        
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>MeganEBarrera</title>
        <meta name="description" content="">
        <meta name="robots" content="noindex, follow" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="../assets/img/logo/mb-fav.png">
		
		<!-- all css here -->
        <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../assets/css/icons.css">
        <link rel="stylesheet" type="text/css" href="../assets/css/fontawesome/css/all.css"> <!--load all styles -->

        <link rel="stylesheet" type="text/css" href="../assets/css/plugins.css">
        <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
        <link rel="stylesheet" type="text/css" href="../assets/css/responsive.css">
        <script src="../assets/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body class="wrapper">
        <!-- header start -->
        <header class="header-area sticky-bar header-black header-height-2 header-padding-4 mobile-menu-black header-hm8 header-hm6 clearfix">
            <div class="container-fluid">
                <div class="header-wrap header-flex">
                    <div class="logo pt-30 pb-30 hm8" style="margin:auto;">
                        <a href="/home">
                            <img alt="" src="../assets/img/logo/MeganBarrera-logo-black.png" class="img-fluid mx-auto justify-content-center">
                        </a>
                    </div>
                    <div class="main-menu d-flex-inline justify-content-center" style="width:100%; margin:auto;">
                        <nav class="d-flex-inline justify-content-center" style="width:100%">
                            <ul class="d-flex justify-content-center topazia">
                                <li><a href="/home">HOME</a>
                                </li>
                                <li><a href="/about">ABOUT</a>
                                </li>
                                <li><a href="/experience">EXPERIENCE</a>
                                    {{!-- <ul class="mega-menu mega-menu-white-bg">
                                        <li>
                                            <ul>
                                                <li><a href="portfolio-categories">Digital Marketing</a></li>
                                                <li><a href="portfolio-categories">Graphic Design</a></li>
                                                <li><a href="portfolio-categories">Web Development</a></li>
                                                <li><a href="portfolio-categories">Videography</a></li>
                                                <li><a href="portfolio-categories">Photography</a></li>
                                            </ul>
                                        </li>
                                    </ul> --}}
                                </li>
                                {{!-- <li><a href="/blog">BLOG</a>
                                </li> --}}
                                <li><a href="/contact">CONTACT</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="header-right-wrap mt-55">
                        <div class="header-search mr-20">
                            <button class="sidebar-trigger-search search-theme-color">
                                <span class="ti-search"></span>
                            </button>
                        </div>
                        <div class="bar-icon">
                            <button class="header-navbar-active navbar-theme-color">
                                <span class="ti-menu"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="mobile-menu-area">
                    <div class="mobile-menu">
                        <nav id="mobile-menu-active">
                            <ul class="menu-overflow">
                                <li><a href="/home">HOME</a>
                                </li>
                                <li><a href="/about">ABOUT</a>
                                </li>
                                <li><a href="/experience">EXPERIENCE</a>
                                    {{!-- <ul>
                                        <li>
                                            <ul>
                                                <li><a href="/portfolio-categories">Digital Marketing</a></li>
                                                <li><a href="/portfolio-categories">Graphic Design</a></li>
                                                <li><a href="/portfolio-categories">Web Development</a></li>
                                                <li><a href="/portfolio-categories">Videography</a></li>
                                                <li><a href="/portfolio-categories">Photography</a></li>
                                            </ul>
                                        </li>
                                    </ul> --}}
                                </li>
                                {{!-- <li><a href="/blog">BLOG</a>
                                </li> --}}
                                <li><a href="/contact">CONTACT</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- main-search start -->
        <div class="main-search-active">
            <div class="sidebar-search-icon">
                <button class="search-close"><span class="ti-close"></span></button>
            </div>
            <div class="sidebar-search-input">
                <form>
                    <div class="form-search">
                        <input id="search" class="input-text" value="" placeholder="Search" type="search">
                        <button>
                            <i class="ti-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <!--- Sidebar --->
        <div class="summary-info sidebar-active">
            <div class="wrap-sidebar">
                <div class="sidebar-nav-icon">
                    <button class="op-sidebar-close"><span class="ti-close"></span></button>
                </div>
                <div class="summary-info-all">
                    <div class="summary-logo img-fluid" style="max-width:100%; height:auto">
                        <a href="/home">
                            <img src="assets/img/logo/mb-logo-sidebar.png" alt="">
                        </a>
                    </div>
                    <div class="summary-list-wrap">
                        <div class="summary-list">
                            <ul>
                                <li><i class="ti-angle-right"></i>Brand Management</li>
                                <li><i class="ti-angle-right"></i>Digital Marketing</li>
                                <li><i class="ti-angle-right"></i>Graphic Design</li>
                                <li><i class="ti-angle-right"></i>Web Development</li>
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar-contact">
                        <h5>Let's Get In Touch.</h5>
                        <p></p>
                        <div class="sidebar-contact-list">
                            <ul>
                                <li><i class="ti-email"></i><a href="#">megan.barrera1@gmail.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!---/ Sidebar --->


{{{ body }}}


        <footer class="footer-area pt-60 pb-60 footer-padding-1">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="copyright copyright-hm3">
                            <p>
                                © 2019
                                <a href="#">MeganEBarrera</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="footer-social-h3 social-hm8 text-center">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-github"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="made-in f-right">
                            <p>
                                MeganEBarrera
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
		
		<!-- all js here -->
        <script src="../assets/js/vendor/jquery-1.12.0.min.js"></script>
        <script src="../assets/js/popper.js"></script>
        <script src="../assets/js/bootstrap.min.js"></script>
        <script src="../assets/js/ajax-mail.js"></script>
        <script src="../assets/js/plugins.js"></script>
        <script src="../assets/js/main.js"></script>
    </body>
</html>