<main>
    <div class="team-area">
        <!-- breadcrumb area -->
        <div class="bg-img pt-230 pb-152" style="background-image: url(assets/img/about/about-header.png);">
        </div>
        <!-- tagline -->
        <div class="container-fluid">
            <div class="row pt-20 pb-20" style="background: black">  
                <div class="container">
                    <table class="table-borderless align-middle" id="tagline-table">
                        <tbody>
                            <tr>
                            <th scope="col-3" class="vl-right text-center"><img class="img-fluid pl-20 pr-20 tagline" src="assets/img/about/marketing-sm.png"></th>
                            <th scope="col-6" class="vl-right text-center"><img class="img-fluid pl-10 pr-10 tagline" src="assets/img/about/development-sm.png"></th>
                            <th scope="col-3" class="text-center"><img class="img-fluid pl-20 pr-20 tagline" src="assets/img/about/design-sm.png"></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>      
        </div> 
        <!-- text-block -->             
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 pt-50 pb-50 text-center" style="margin:auto;">
                    <div class="container">
                        <div class="row">
                            <p class="pl-50 pr-50 roboto">I'm Megan -- a marketing professional with expertise in brand management, web development, and design. 
                                I'm a proud dog mom, an avid boxer, and a Kansas Jayhawk for life (ROCK CHALK!). If you're looking to take
                                your brand to the next level, you're in the right place. I'm always on the lookout for new projects and new
                                opportunities, so don't hesitate to introduce yourself. Feel free to take a look around and be sure to check 
                                out my latest work. I'll be looking forward to hearing from you soon!
                            </p>
                            {{!-- <img class="img-fluid" style="margin: auto" src="assets/img/about/text-block.png"> --}}
                        </div>
                        <div class="row">
                            <img style="margin: auto" src="assets/img/logo/LOGO-black.png">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 bg-blue" style="padding-left: 0px; padding-right: 0px;">
                    <img class="img-fluid" src="assets/img/about/about-logo-500x400.png">
                    {{!-- <div class="client-info pt-50 pb-30 text-center">
                        <img class="cropped1" id="headshot" src="assets/img/about/Headshot.png">
                        <div class="sidebar-contact">
                        <div class="sidebar-contact-list">
                            <ul>
                                <li><span class="black-highlight"><i class="ti-email"></i><a href="#" class="text-white">megan.barrera1@gmail.com</a></span></li>
                                <li><span class="black-highlight"><i class="ti-linkedin"></i><a href="#" class="text-white">linkedin.com/in/meganebarrera/</a></span></li>
                                <li><span class="black-highlight"><i class="ti-github"></i><a href="#" class="text-white">github.com/MeganBarrera</a></span></li>
                            </ul>
                        </div>
                        </div>
                    </div> --}}
                </div>
                
            </div>
        </div>
    <!---Values-->
                <div class="instagram-wrap-2 mb-50 bg-gray pt-10 pb-10">
                <div class="container-fluid">
                    <div class="instragram-active-3 owl-carousel">
                        <div class="single-instragram zoom-hover">
                            <a href="#"><img alt="" src="assets/img/instragram/18.jpg"></a>
                        </div>
                        <div class="single-instragram zoom-hover">
                            <a href="#"><img alt="" src="assets/img/instragram/19.jpg"></a>
                        </div>
                        <div class="single-instragram zoom-hover">
                            <a href="#"><img alt="" src="assets/img/instragram/20.jpg"></a>
                        </div>
                        <div class="single-instragram zoom-hover">
                            <a href="#"><img alt="" src="assets/img/instragram/21.jpg"></a>
                        </div>
                        <div class="single-instragram zoom-hover">
                            <a href="#"><img alt="" src="assets/img/instragram/22.jpg"></a>
                        </div>
                        <div class="single-instragram zoom-hover">
                            <a href="#"><img alt="" src="assets/img/instragram/23.jpg"></a>
                        </div>
                        <div class="single-instragram zoom-hover">
                            <a href="#"><img alt="" src="assets/img/instragram/19.jpg"></a>
                        </div>
                    </div>
                </div>
            </div>
    <!-- Mission Statement -->
        <div class="summer-addition-area pb-115">
            <div class="container">
                <div class="row d-flex align-items-center zoom-hover">
                    <div class="col-lg-7">
                        <div class="summer-addition-img">
                            <img alt="" src="assets/img/about/about-670x560.png">
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="summer-addition-content">
                            <div class="sin-testimonial3">
                                <div class="client3-content single-shortcode-list text-center">
                                    <h4 class="text-right amalfi" style="margin-top:-35px; margin-right:30px">
                                        <span style="background-color:white; padding:10px">
                                            <b>Mission Statement</b>
                                        </span>
                                    </h4>
                                    <ul class="text-center pt-20">
                                        <li><i class="ti-angle-right"></i>To establish, cultivate, and empower genuine and successful brands</li>
                                        <li><i class="ti-angle-right"></i>To embody and inspire a sustainable and fulfilling corporate culture </li>
                                        <li><i class="ti-angle-right"></i>To create meaningful connections while bridging the gap between technology and users </li>
                                    </ul>
                                    <h4 class="text-left amalfi pt-20" style="margin-top:30px; margin-left:30px">
                                        <span style="background-color:white; padding:10px">
                                            <b>Vision Statement</b>
                                        </span>
                                    </h4>
                                        <hr style="margin-top: -20px;">
                                    <p>To lead and foster innovative ideas that inspire the future generation</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- Evolution -->
<div class="recent-project section-padding-1 theme-bg pb-80 pt-80">
            <div class="container-fluid">
                    <div class="container">
                        <h2 class="amalfi text-white text-center pb-20"><b>values</b></h2>
                    </div>
                </div>
                <div class="instagram-wrap-2 mb-20 pb-10">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col pl-25 pr-25 zoom-hover">
                            <a href="#"><img alt="" src="assets/img/instragram/18.jpg"></a>
                        </div>
                        <div class="col pl-25 pr-25 zoom-hover">
                            <a href="#"><img alt="" src="assets/img/instragram/19.jpg"></a>
                        </div>
                        <div class="col pl-25 pr-25 zoom-hover">
                            <a href="#"><img alt="" src="assets/img/instragram/20.jpg"></a>
                        </div>
                        <div class="col pl-25 pr-25 zoom-hover">
                            <a href="#"><img alt="" src="assets/img/instragram/21.jpg"></a>
                        </div>
                        <div class="col pl-25 pr-25 zoom-hover">
                            <a href="#"><img alt="" src="assets/img/instragram/22.jpg"></a>
                        </div>
                    </div>
                </div>
            </div></div></div>
            </div>
        </div>

    <!-- Skills-->
    <div class="shortcode-progress-bars-area pt-50 pb-50">
        <div class="container">
            <div class="brand-logo-wrap2 pt-40">
            <div class="section-title text-center mb-50">
                <h2 class="topazia">Tools <span class="amalfi" style="font-size:30px">& Skills</span></h2>
            </div>
        </div>
        <!-- Progress Bars-->
        <div class="shortcode-progress-bars-area pb-50">
            <div class="container">
                <div class="progress-bar-wrap1">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="progress-content">
                                    <!-- Tools -->
                                    <div class="shortcode-social-content2 text-center">
                                        <div class="single-social-content1 social-main-color pt-20 mb-25">
                                            <ul>
                                                <li><a class="facebook" href="#"><i class="fab fa-facebook-f fa-lg"></i></a></li>
                                                <li><a class="instagram" href="#"><i class="fab fa-instagram fa-lg"></i></a></li>
                                                <li><a class="twitter" href="#"><i class="fab fa-twitter fa-lg"></i></a></li>
                                                <li><a class="linkedin" href="#"><i class="fab fa-linkedin fa-lg"></i></a></li>
                                                <li><a class="youtube" href="#"><i class="fab fa-youtube fa-lg"></i></a></li>
                                                <li><a class="pinterest" href="#"><i class="fab fa-pinterest fa-lg"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="single-social-content1 social-main-color mb-25">
                                            <ul>
                                                <li><a class="github" href="#"><i class="fab fa-github fa-lg"></i></a></li>
                                                <li><a class="google" href="#"><i class="fab fa-google fa-lg"></i></a></li>
                                                <li><a class="html5" href="#"><i class="fab fa-html5 fa-lg"></i></a></li>
                                                <li><a class="css3" href="#"><i class="fab fa-css3 fa-lg"></i></a></li>
                                                <li><a class="js" href="#"><i class="fab fa-js fa-lg"></i></a></li>
                                                <li><a class="nodejs" href="#"><i class="fab fa-node fa-lg"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="single-social-content1 social-main-color mb-25">
                                            <ul>
                                                <li><a class="excel" href="#"><i class="far fa-file-excel fa-lg"></i></a></li>
                                                <li><a class="pwrpt" href="#"><i class="far fa-file-powerpoint fa-lg"></i></a></li>
                                                <li><a class="windows" href="#"><i class="fab fa-windows fa-lg"></i></a></li>
                                                <li><a class="apple" href="#"><i class="fab fa-apple fa-lg"></i></a></li>
                                                <li><a class="adobe" href="#"><i class="fab fa-adobe fa-lg"></i></a></li>
                                                <li><a class="pdf" href="#"><i class="far fa-file-pdf fa-lg"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="single-social-content1 social-main-color mb-25">
                                            <ul>
                                                <li><a class="bootstrap" href="#"><i class="fab fa-bootstrap fa-lg"></i></a></li>
                                                <li><a class="git" href="#"><i class="fab fa-git-alt fa-lg"></i></a></li>
                                                <li><a class="npm" href="#"><i class="fab fa-npm"></i></a></li>
                                                <li><a class="react" href="#"><i class="fab fa-react fa-lg"></i></a></li>
                                                <li><a class="slack" href="#"><i class="fab fa-slack fa-lg"></i></a></li>
                                                <li><a class="stack" href="#"><i class="fab fa-stack-overflow fa-lg"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="single-social-content1 social-main-color mb-25">
                                            <ul>
                                                <li><a class="trello" href="#"><i class="fab fa-trello fa-lg"></i></a></li>
                                                <li><a class="wp" href="#"><i class="fab fa-wordpress fa-lg"></i></a></li>
                                                <li><a class="yammer" href="#"><i class="fab fa-yammer"></i></a></li>
                                                <li><a class="yarn" href="#"><i class="fab fa-yarn fa-lg"></i></a></li>
                                                <li><a class="safari" href="#"><i class="fab fa-safari fa-lg"></i></a></li>
                                                <li><a class="chrome" href="#"><i class="fab fa-chrome fa-lg"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="col-lg-8">
                            <div class="skill-bar">
                                <div class="row">
                                    <div class="col-lg-6 pl-20 pr-20">
                                        <div class="skill-bar-item-a pb-20">
                                            <span>Brand Management</span>
                                            <div class="progress">
                                                <div class="progress-bar wow fadeInLeft" data-progress="60%" data-wow-duration="1.5s" data-wow-delay="1.2s">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="skill-bar-item-b pb-20">
                                            <span>Video Production & Editing</span>
                                            <div class="progress">
                                                <div class="progress-bar wow fadeInLeft" data-progress="90%" data-wow-duration="1.5s" data-wow-delay="1.2s">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="skill-bar-item-i pb-20">
                                            <span>Concept, Layout & Styling</span>
                                            <div class="progress">
                                                <div class="progress-bar wow fadeInLeft" data-progress="95%"  data-wow-duration="1.5s" data-wow-delay="1.2s">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="skill-bar-item-k pb-20">
                                            <span>Content Marketing</span>
                                            <div class="progress">
                                                <div class="progress-bar wow fadeInLeft" data-progress="90%" data-wow-duration="1.5s" data-wow-delay="1.2s">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="skill-bar-item-e pb-20">
                                            <span>SEO/SEM</span>
                                            <div class="progress">
                                                <div class="progress-bar wow fadeInLeft" data-progress="30%" data-wow-duration="1.5s" data-wow-delay="1.2s">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="skill-bar-item-f pb-20">
                                            <span>Targetted Marketing</span>
                                            <div class="progress">
                                                <div class="progress-bar wow fadeInLeft" data-progress="90%" data-wow-duration="1.5s" data-wow-delay="1.2s">
                                                </div>
                                            </div>
                                        </div>                     
                                    </div>
                                
                                    <div class="col-lg-6 pl-20 pr-20">
                                        <div class="skill-bar-item-g pb-20">
                                            <span>Strategy & Planning</span>
                                            <div class="progress">
                                                <div class="progress-bar wow fadeInLeft" data-progress="90%" data-wow-duration="1.5s" data-wow-delay="1.2s">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="skill-bar-item-c pb-20">
                                            <span>Data Analytics & Analysis</span>
                                            <div class="progress">
                                                <div class="progress-bar wow fadeInLeft" data-progress="30%"  data-wow-duration="1.5s" data-wow-delay="1.2s">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="skill-bar-item-h pb-20">
                                            <span>Event Planning & Promo</span>
                                            <div class="progress">
                                                <div class="progress-bar wow fadeInLeft" data-progress="95%" data-wow-duration="1.5s" data-wow-delay="1.2s">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="skill-bar-item-j pb-20">
                                            <span>Paid/Organic Ads</span>
                                            <div class="progress">
                                                <div class="progress-bar wow fadeInLeft" data-progress="30%" data-wow-duration="1.5s" data-wow-delay="1.2s">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="skill-bar-item-l pb-20">
                                            <span>Email Campaigns</span>
                                            <div class="progress">
                                                <div class="progress-bar wow fadeInLeft" data-progress="90%" data-wow-duration="1.5s" data-wow-delay="1.2s">
                                                </div>
                                            </div>
                                        </div>                                         
                                        <div class="skill-bar-item-d pb-20">
                                            <span>Public Relations</span>
                                            <div class="progress">
                                                <div class="progress-bar wow fadeInLeft" data-progress="45%" data-wow-duration="1.5s" data-wow-delay="1.2s">
                                                </div>
                                            </div>
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
<!--Interests-->
    <div class="team-area pt-50 pb-90">
        <div class="container">
            <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="team-wrapper mb-30">
                            <div class="team-img">
                                <a href="#">
                                    <img src="assets/img/team/team-1.jpg" alt="">
                                </a>
                                <div class="team-action">
                                    <a class="action-plus facebook" href="#">
                                        <i class="ti-facebook"></i>
                                    </a>
                                    <a class="action-heart twitter" title="Wishlist" href="#">
                                        <i class="ti-twitter-alt"></i>
                                    </a>
                                    <a class="action-cart instagram" href="#">
                                        <i class="ti-instagram"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="team-content text-center">
                                <h4>Jayhawk</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="team-wrapper mb-30">
                            <div class="team-img">
                                <a href="#">
                                    <img src="assets/img/team/team-3.jpg" alt="">
                                </a>
                                <div class="team-action">
                                    <a class="action-plus facebook" href="#">
                                        <i class="ti-facebook"></i>
                                    </a>
                                    <a class="action-heart twitter" title="Wishlist" href="#">
                                        <i class="ti-twitter-alt"></i>
                                    </a>
                                    <a class="action-cart instagram" href="#">
                                        <i class="ti-instagram"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="team-content text-center">
                                <h4>Berkeley</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="team-wrapper mb-30">
                            <div class="team-img">
                                <a href="#">
                                    <img src="assets/img/team/team-2.jpg" alt="">
                                </a>
                                <div class="team-action">
                                    <a class="action-plus facebook" href="#">
                                        <i class="ti-facebook"></i>
                                    </a>
                                    <a class="action-heart twitter" title="Wishlist" href="#">
                                        <i class="ti-twitter-alt"></i>
                                    </a>
                                    <a class="action-cart instagram" href="#">
                                        <i class="ti-instagram"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="team-content text-center">
                                <h4>Travels</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="team-wrapper mb-30">
                            <div class="team-img">
                                <a href="#">
                                    <img src="assets/img/team/team-4.jpg" alt="">
                                </a>
                                <div class="team-action">
                                    <a class="action-plus facebook" href="#">
                                        <i class="ti-facebook"></i>
                                    </a>
                                    <a class="action-heart twitter" title="Wishlist" href="#">
                                        <i class="ti-twitter-alt"></i>
                                    </a>
                                    <a class="action-cart instagram" href="#">
                                        <i class="ti-instagram"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="team-content text-center">
                                <h4>Boxing</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>


    </div>
        
</main>

