<main>
        <!-- main-search start -->
        <div class="main-search-active">
            <div class="sidebar-search-icon">
                <button class="search-close"><span class="ti-close"></span></button>
            </div>
            <div class="sidebar-search-input">
                <form>
                    <div class="form-search">
                        <input id="search" class="input-text" value="" placeholder="Search Entire Store" type="search">
                        <button>
                            <i class="ti-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <!--- Sidebar --->
        <div class="summary-info sidebar-active">
            <div class="wrap-sidebar">
                <div class="sidebar-nav-icon">
                    <button class="op-sidebar-close"><span class="ti-close"></span></button>
                </div>
                <div class="summary-info-all">
                    <div class="summary-logo">
                        <a href="/home">
                            <img src="assets/img/logo/mb-logo-sidebar.png" alt="">
                        </a>
                    </div>
                    <div class="summary-list-wrap">
                        <p>Now offering the following:</p>
                        <div class="summary-list">
                            <ul>
                                <li><i class="ti-angle-right"></i>Digital Marketing</li>
                                <li><i class="ti-angle-right"></i>Graphic Design</li>
                                <li><i class="ti-angle-right"></i>Web Development</li>
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar-contact">
                        <h5>Let's Get In Touch.</h5>
                        <p></p>
                        <div class="sidebar-contact-list">
                            <ul>
                                <li><i class="ti-email"></i><a href="#">megan.barrera1@gmail.com</a></li>
                                <li><i class="ti-location-pin"></i>Chicago, IL</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!---/ Sidebar --->
        
        <div class="portfolio-area section-padding-2 pb-20 gray-bg-4">
            <div class="container-fluid">
                <div class="portfolio-style">
                    <div class="custom-row-2 item-wrapper2 mt-30">
                        <!--- GET TO KNOW ME --->
                    <!-- 704x436: MeganBarrera Logo -->
                        <div class="width-40-parcent mb-30 toggle-item-active2">
                            <div class="portfolio-wrap-2">
                                <a href="/home"><img class="img-fluid" alt="" src="assets/img/home/temp-header-704x436.png"></a>
                            </div>
                        </div>
                    <!-- 332x330: ABOUT -->
                        <div class="width-20-parcent mb-30 toggle-item-active2">
                            <div class="portfolio-wrap-3" style="box-shadow: 3px 3px 10px rgba(0,0,0,0.8)">
                                <div class="zoom-hover2">
                                    <a href="/about"><img alt="" src="assets/img/home/about.png"></a>
                                </div>
                                <div class="portfolio-content3 home-header-black">
                                        <h4 class="amalfi home-header-black"><a href="/about">about</a></h4>
                                    <div class="topazia" style="letter-spacing: 2px;">
                                        <span style="color:#000000">LEARN MORE.</span>
                                        <a href="/about"><i class="ti-arrow-right" style="color:#000000"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- 332x330: EXPERIENCE -->
                        <div class="width-20-parcent mb-30 toggle-item-active2">
                            <div class="portfolio-wrap-3" style="box-shadow: 3px 3px 10px rgba(0,0,0,0.8)">
                                <div class="zoom-hover2">
                                    <a href="/experience"><img alt="" src="assets/img/home/home-experiencewhite.png"></a>
                                </div>
                                <div class="portfolio-content3 home-header-white" style="background-color: #000000; border-top: 1px #000000 solid;">
                                        <h4 class="amalfi home-header-white"><a href="/experience">experience</a></h4>
                                    <div class="topazia text-white" style="letter-spacing: 2px;">
                                        <span>CHECK IT OUT.</span>
                                        <a href="/experience"><i class="ti-arrow-right text-white"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- 332x330: CONTACT -->
                        <div class="width-20-parcent mb-30 toggle-item-active2">
                            <div class="portfolio-wrap-3" style="box-shadow: 3px 3px 10px rgba(0,0,0,0.8)">
                                <div class="zoom-hover2">
                                    <a href="/contact"><img alt="" src="assets/img/home/home-blog-332x330.png"></a>
                                </div>
                                <div class="portfolio-content3">
                                        <h4 class="amalfi home-header-black"><a href="/contact">contact</a></h4>
                                    <div class="topazia" style="letter-spacing: 2px;">
                                        <span>GET IN TOUCH.</span>
                                        <a href="/contact"><i class="ti-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- 332x330 -->
                        <div class="width-20-parcent mb-30 toggle-item-active2">
                            <div class="portfolio-wrap-3">
                                <div class="zoom-hover2">
                                    <a href="#"><img alt="" src="assets/img/home/home-employee-332x330.png"></a>
                                </div>
                                <div class="portfolio-content3">
                                    <div>
                                        <h4 class="topazia home-header-black"><a href="#">Awarded Employee of the Quarter</a></h4>
                                    </div>
                                    <div class="topazia" style="letter-spacing: 2px;">
                                        <span>October 2019 | Quarter 3</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- 332x330: DPOE REBRANDING -->
                        <div class="width-20-parcent mb-30 toggle-item-active2">
                            <div class="portfolio-wrap-3">
                                <div class="zoom-hover2">
                                    <a href="https://www.dhbusinessledger.com/business/20181203/dpoe-tabs-barrera-to-oversee-rebranding"><img alt="" src="assets/img/home/home-dpoe-332x330.png"></a>
                                </div>
                                <div class="portfolio-content3">
                                    <div>
                                        <h4 class="playfair-display home-header-black"><a href="https://www.dhbusinessledger.com/business/20181203/dpoe-tabs-barrera-to-oversee-rebranding">"DPOE tabs Megan Barrera to oversee rebranding"</a></h4>
                                    </div>
                                    <div class="topazia" style="letter-spacing: 2px;">
                                        <span>December 3, 2018</span>
                                        <a href="https://www.dhbusinessledger.com/business/20181203/dpoe-tabs-barrera-to-oversee-rebranding"><i class="ti-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- 704x436 -->
                        <div class="width-40-parcent mb-30 toggle-item-active2">
                            <div class="portfolio-wrap-2">
                                <a href="#"><img alt="" src="assets/img/home/home-dev-704x436.png"></a>
                                <div class="portfolio-content2 home-header-black" id="white-hover">
                                    <h4 class="amalfi"><a href="#">full stack web development</a></h4>
                                </div>
                            </div>
                        </div>
                    <!-- 332x330 -->
                        <div class="width-20-parcent mb-30 toggle-item-active2">
                            <div class="portfolio-wrap-3">
                                <div class="zoom-hover2">
                                    <a href="https://www.dhbusinessledger.com/business/20190214/trends-in-office-furniture-combining-function-with-form"><img alt="" src="assets/img/home/home-trends-332x330.png"></a>
                                </div>
                                <div class="portfolio-content3">
                                    <div>
                                        <h4 class="playfair-display home-header-black"><a href="https://www.dhbusinessledger.com/business/20190214/trends-in-office-furniture-combining-function-with-form">"Trends in office furniture: Combining function with form"</a></h4>
                                    </div>
                                    <div class="topazia" style="letter-spacing: 2px;">
                                        <span>February 14, 2019</span>
                                        <a href="https://www.dhbusinessledger.com/business/20190214/trends-in-office-furniture-combining-function-with-form"><i class="ti-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{!-- <!-- 704x436 -->
                        <div class="width-40-parcent mb-30 toggle-item-active2">
                            <div class="portfolio-wrap-2">
                                <a href="#"><img alt="" src="assets/img/portfolio/h8-10.jpg"></a>
                                <div class="portfolio-content2">
                                    <h4 class="amalfi home-header-black"><a href="#">videography</a></h4>
                                    <a href="#"><i class="ti-arrow-right"></i></a>
                                </div>
                            </div>
                        </div> --}}
                    {{!-- <!-- 332x330 -->
                        <div class="width-20-parcent mb-30 toggle-item-active2">
                            <div class="portfolio-wrap-3 portfolio-white-border">
                                <div class="zoom-hover2">
                                    <a href="#"><img alt="" src="assets/img/portfolio/h8-11.jpg"></a>
                                </div>
                                <div class="portfolio-content3">
                                    <div>
                                        <h4 class="topazia home-header-black"><a href="#">Awarded Team Project Individual Recognition</a></h4>
                                    </div>
                                    <div class="topazia" style="letter-spacing: 2px;">
                                        <span>December 5, 2016</span>
                                    </div>
                                </div>
                            </div>
                        </div> --}}
                    <!-- 332x330 -->
                        <div class="width-20-parcent mb-30 toggle-item-active2">
                            <div class="portfolio-wrap-3">
                                <div class="zoom-hover2">
                                    <a href="https://www.theimagingchannel.com/pulse-technology-brings-its-new-name-to-long-standing-sponsorships/"><img alt="" src="assets/img/home/home-sponsorships-332x330.png"></a>
                                </div>
                                <div class="portfolio-content3">
                                    <div>
                                        <h4><a href="https://www.theimagingchannel.com/pulse-technology-brings-its-new-name-to-long-standing-sponsorships/">"Pulse Technology Brings Its New Name to Long-Standing Sponsorships"</a></h4>
                                    </div>
                                    <div class="portfolio-content3-date">
                                        <span>August 5, 2019</span>
                                        <a href="https://www.theimagingchannel.com/pulse-technology-brings-its-new-name-to-long-standing-sponsorships/"><i class="ti-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{!-- <!-- 332x330 -->
                        <div class="width-20-parcent mb-30 toggle-item-active2">
                            <div class="portfolio-wrap-3">
                                <div class="zoom-hover2">
                                    <a href="#"><img alt="" src="assets/img/portfolio/h8-13.jpg"></a>
                                </div>
                                <div class="portfolio-content3">
                                    <div>
                                        <h4><a href="#">Brand Management</a></h4>
                                    </div>
                                    <div class="portfolio-content3-date">
                                        <span>17 April, 2018</span>
                                        <a href="#"><i class="ti-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- 332x330 -->
                        <div class="width-20-parcent mb-30 toggle-item-active2">
                            <div class="portfolio-wrap-3">
                                <div class="zoom-hover2">
                                    <a href="#"><img alt="" src="assets/img/portfolio/h8-14.jpg"></a>
                                </div>
                                <div class="portfolio-content3">
                                    <div>
                                        <h4><a href="#">Leather Summer</a></h4>
                                    </div>
                                    <div class="portfolio-content3-date">
                                        <span>13 April, 2018</span>
                                        <a href="#"><i class="ti-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- 332x330 -->
                        <div class="width-20-parcent mb-30 toggle-item-active2">
                            <div class="portfolio-wrap-3">
                                <div class="zoom-hover2">
                                    <a href="#"><img alt="" src="assets/img/portfolio/h8-15.jpg"></a>
                                </div>
                                <div class="portfolio-content3">
                                    <div>
                                        <h4><a href="#">Olympia Le Tan Bags</a></h4>
                                    </div>
                                    <div class="portfolio-content3-date">
                                        <span>12 April, 2018</span>
                                        <a href="#"><i class="ti-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- 332x330 -->
                        <div class="width-20-parcent mb-30 toggle-item-active2">
                            <div class="portfolio-wrap-3">
                                <div class="zoom-hover2">
                                    <a href="#"><img alt="" src="assets/img/portfolio/h8-16.jpg"></a>
                                </div>
                                <div class="portfolio-content3">
                                    <div>
                                        <h4><a href="#">Leather Skirts</a></h4>
                                    </div>
                                    <div class="portfolio-content3-date">
                                        <span>10 April, 2018</span>
                                        <a href="#"><i class="ti-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- 332x330 -->
                        <div class="width-20-parcent mb-30 load-more-wrap">
                                <div class="load-more-btn2 text-center toggle-btn2">
                                    <a class="loadMore2" href="#">
                                        <span>Load More</span>
                                        <i class="ti-arrow-circle-down"></i>
                                    </a>
                                </div>
                            <div class="portfolio-wrap-3 toggle-item-active2">
                                <div class="zoom-hover2">
                                    <a href="#"><img alt="" src="assets/img/portfolio/h8-2.jpg"></a>
                                </div>
                                <div class="portfolio-content3">
                                    <div>
                                        <h4><a href="#">The Luxury Closet</a></h4>
                                    </div>
                                    <div class="portfolio-content3-date">
                                        <span>30 April, 2018</span>
                                        <a href="#"><i class="ti-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div> --}}
                    
                        {{!-- <div class="width-40-parcent mb-30 toggle-item-active2">
                            <div class="portfolio-wrap-2">
                                <a href="#"><img alt="" src="assets/img/portfolio/h8-1.jpg"></a>
                                <div class="portfolio-content2">
                                    <h4><a href="#">Extraordinary Traditions</a></h4>
                                    <a href="#"><i class="ti-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="width-20-parcent mb-30 toggle-item-active2">
                            <div class="portfolio-wrap-3">
                                <div class="zoom-hover2">
                                    <a href="#"><img alt="" src="assets/img/portfolio/h8-2.jpg"></a>
                                </div>
                                <div class="portfolio-content3">
                                    <div>
                                        <h4><a href="#">The Luxury Closet</a></h4>
                                    </div>
                                    <div class="portfolio-content3-date">
                                        <span>30 April, 2018</span>
                                        <a href="#"><i class="ti-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="width-20-parcent mb-30 toggle-item-active2">
                            <div class="portfolio-wrap-3">
                                <div class="zoom-hover2">
                                    <a href="#"><img alt="" src="assets/img/portfolio/h8-3.jpg"></a>
                                </div>
                                <div class="portfolio-content3">
                                    <div>
                                        <h4><a href="#">Fash Favorite</a></h4>
                                    </div>
                                    <div class="portfolio-content3-date">
                                        <span>29 April, 2018</span>
                                        <a href="#"><i class="ti-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="width-20-parcent mb-30 toggle-item-active2">
                            <div class="portfolio-wrap-3">
                                <div class="zoom-hover2">
                                    <a href="#"><img alt="" src="assets/img/portfolio/h8-4.jpg"></a>
                                </div>
                                <div class="portfolio-content3">
                                    <div>
                                        <h4><a href="#">My Farfetch Summer</a></h4>
                                    </div>
                                    <div class="portfolio-content3-date">
                                        <span>27 April, 2018</span>
                                        <a href="#"><i class="ti-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div> --}}
                    </div>
                </div>
            </div>
        </div>

</main>
