<main>
        <!-- breadcrumb area -->
        <div class="breadcrumb-area bg-img pt-230 pb-152 breadcrumb-height" style="background-image: url(assets/img/banner/breadcrumb-2.jpg);"></div>

        <div class="blog-details-area pt-70 pb-80">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 ml-auto mr-auto">
                        <div class="blog-details-wrap blog-details-2 pl-50 pr-50">
                            <div class="b-details-content-wrap">
                                <div class="blog-content-3 text-center mb-25">
                                    <h4>Gingham for the Summer</h4>
                                    <div class="blog-meta-3">
                                        <ul>
                                            <li>Brabding</li>
                                            <li>By <a href="#"><span>Anet Growswood </span></a></li>
                                            <li>20 April, 2018</li>
                                            <li><a href="#">2 Comments</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <p>Etiam cursus ex non pellentesque laoreet. Donec et faucibus ipsum. Sed get blandit orciplacerat elit. Mauris amolestie quis ante eget dapibus. Suspendisse fringilla posuere sem eu suscipit. Suspendisse non enim in nisi convallis gravid vehicula oner turpis eget neque luctus efficitur. Lorem ipsum dolor sit amet, consectetur adipiscing elit onec lacus aricu, hend rerit vitae tellus porta, suscipit tristique vel felis tincidunt faucibus. Vestibulum eros leo, consequat at tempor et, porta in risus vitae nisl tellus. Integer vulputate rhoncus quis. </p>
                                <p>Donec volutpat lorem eu metus elementum pellentesque. Suspendisse nec metus accumsan est sodales fermentum non eget libero. Phasellus sed ullamcorper augue, non euismod ante. Etiam hendrerit libero ligula, vel elementum est lacinia in. Integer pretium urna dignissim vstibulum tincidunt. Cras auctor ullamcorper libero sed tempus. Nullam luctus et erat at vulputate. Mauris vitae itor sapien. </p>
                                <div class="b-details-img-wrap mt-40 mb-80">
                                    <img src="assets/img/blog/blog-details4.jpg" alt="">
                                    <div class="b-details-small">
                                        <img src="assets/img/blog/blog-details3.jpg" alt="">
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempor, mi id condimentum ultrices, ante quam ultricies ezat molestie neque eros a mauris. Nullam ut massa lorem. Praesent dapibus bibendum lacus, ultricies imperdiet eros rutrum ive odio. Vestibulum rhoncus tellus quis convallis imperdiet. Etiam blandit, tortor sit amet euismod ultricies, leo sapien ferment hendrerit lacus mi a lacus. </p>
                                <p>Maecenas faucibus vitae urna eget auctor. Nullam tincidunt nulla ex, faucibus vestibulum leo bibeet. Fusce rhoncus suscipit ante sed tincidunt. Vivamus ultricies purus aliquam pretium sodales. Cras nec tristique ipsum, et eleme lacus arcu, hendrerit vitae tellus porta.</p>
                                <p>Asuscipit tristique libero. Sed tristique sit amet metus eget laoreet. Suspendisse vel od dolor venenatis sodales utligula. Etiam tempor urna vitae ornare mattis, erat velit pretium dolor, at tempus augue leo et massa. Sed quis dolorelis tincidunt faucibus. Cras id rutrum ex. Vestibulum blandit, ex quis viverra porta, tortor sem cursus ipsum, feugiat iaculis neque lorem at leo. Fusce luctus, augue asapien.  </p>
                                <div class="details-category-social">
                                    <div class="details-category">
                                        <ul>
                                            <li><a href="#">#blog</a></li>
                                            <li><a href="#">#Photography</a></li>
                                            <li><a href="#">#Culture</a></li>
                                        </ul>
                                    </div>
                                    <div class="details-social">
                                        <ul>
                                            <li><a href="#"><i class="ti-facebook"></i></a></li>
                                            <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                                            <li><a href="#"><i class="ti-pinterest"></i></a></li>
                                            <li><a href="#"><i class="ti-tumblr-alt"></i></a></li>
                                            <li><a href="#"><i class="ti-google"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="b-details-author mt-45 mb-50 pt-55 pb-60 border-bottom-4 border-top-5">
                                    <div class="b-details-author-img">
                                        <img alt="" src="assets/img/blog/blog-author-2.png">
                                    </div>
                                    <div class="b-details-content">
                                        <h5>Dean Fleming</h5>
                                        <p>Vestibulum ante ipsum primis aucibus orci luctustrices posuere cubilia Curae Suspendisse viverra viverra. Mauris ullam corper euismod vehicula. Phasellus quam nisi, congue id nulla nec, convallis convallis leo. </p>
                                    </div>
                                </div>
                                <div class="related-blog-area border-bottom-4 pb-35 mb-50">
                                    <h4 class="blog-details-title text-center">Recommended</h4>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-12">
                                            <div class="related-blog-wrap mb-30">
                                                <a href="#"><img alt="" src="assets/img/blog/related-blog-1.jpg"></a>
                                                <div class="related-blog-content">
                                                    <h4><a href="#">Karla Welch Launches Her Levi’s Collaboration </a></h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-12">
                                            <div class="related-blog-wrap mb-30">
                                                <a href="#"><img alt="" src="assets/img/blog/related-blog-2.jpg"></a>
                                                <div class="related-blog-content">
                                                    <h4><a href="#">Sienna Miller Has the New Uniform Cool Moms </a></h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-12">
                                            <div class="related-blog-wrap mb-30">
                                                <a href="#"><img alt="" src="assets/img/blog/related-blog-3.jpg"></a>
                                                <div class="related-blog-content">
                                                    <h4><a href="#">How Nancy Cunard Bangle Inspired  Bronze  </a></h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog-comments-area border-bottom-4 pb-60">
                                    <h4 class="blog-details-title text-center">Comments</h4>
                                    <div class="blog-comments-wrap">
                                        <div class="single-blog-bundel">
                                            <div class="single-blog-comment mb-60">
                                                <div class="blog-comment-img">
                                                    <img alt="" src="assets/img/blog/blog-comment1.png">
                                                </div>
                                                <div class="blog-comment-content">
                                                    <div class="comment-name-reply">
                                                        <span>White Lewis</span>
                                                        <a href="#">Reply</a>
                                                    </div>
                                                    <p>Vestibulum ante ipsum primis aucibus orci luctustrices posuere cubilia Curae Suspendisse viverra ed viverra. Mauris ullarper euismod vehicula. Phasellus quam nisi, congue id nulla nec, convallis convallis leo. Maecenas bibendum bibendum larius.</p>
                                                </div>
                                            </div>
                                            <div class="single-blog-comment child-blog-comment mb-60 ml-70">
                                                <div class="blog-comment-img">
                                                    <img alt="" src="assets/img/blog/blog-comment2.png">
                                                </div>
                                                <div class="blog-comment-content">
                                                    <div class="comment-name-reply">
                                                        <span>White Lewis</span>
                                                        <a href="#">Reply</a>
                                                    </div>
                                                    <p>Vestibulum ante ipsum primis aucibus orci luctustrices posuere cubilia Curae Suspendisse viverra ed viverra. Mauris ullarper euismod vehicula. Phasellus quam nisi, congue id nulla nec, convallis convallis leo. Maecenas bibendum bibendum larius.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="single-blog-bundel">
                                            <div class="single-blog-comment mb-60">
                                                <div class="blog-comment-img">
                                                    <img alt="" src="assets/img/blog/blog-comment3.png">
                                                </div>
                                                <div class="blog-comment-content">
                                                    <div class="comment-name-reply">
                                                        <span>White Lewis</span>
                                                        <a href="#">Reply</a>
                                                    </div>
                                                    <p>Vestibulum ante ipsum primis aucibus orci luctustrices posuere cubilia Curae Suspendisse viverra ed viverra. Mauris ullarper euismod vehicula. Phasellus quam nisi, congue id nulla nec, convallis convallis leo. Maecenas bibendum bibendum larius.</p>
                                                </div>
                                            </div>
                                            <div class="single-blog-comment child-blog-comment ml-70">
                                                <div class="blog-comment-img">
                                                    <img alt="" src="assets/img/blog/blog-comment4.png">
                                                </div>
                                                <div class="blog-comment-content">
                                                    <div class="comment-name-reply">
                                                        <span>White Lewis</span>
                                                        <a href="#">Reply</a>
                                                    </div>
                                                    <p>Vestibulum ante ipsum primis aucibus orci luctustrices posuere cubilia Curae Suspendisse viverra ed viverra. 
Mauris ullarper euismod vehicula. Phasellus quam nisi, congue id nulla nec, convallis convallis leo. </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog-reply-area pt-45">
                                    <h4 class="blog-details-title">Leave A Reply</h4>
                                    <div class="blog-form-wrapper custom-col-15">
                                        <form action="#">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="leave-form">
                                                        <input type="text" placeholder="Name">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="leave-form">
                                                        <input type="text" placeholder="Email">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="leave-form">
                                                        <input type="email" placeholder="Website">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="text-leave">
                                                        <textarea placeholder="Add a Comment"></textarea>
                                                        <input type="submit" value="Post Comment">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer-area theme-bg pt-70 pb-50 clear-fix">
            <div class="container">
                <div class="footer-top border-bottom-1">
                    <div class="row">
                        <div class="col-12">
                            <div class="support-text text-center">
                                <h2>Always Ready to Help You 24/7</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-middle pt-65">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-5">
                            <div class="footer-widget mb-40">
                                <div class="footer-title mb-20">
                                    <h4>contact Us</h4>
                                </div>
                                <div class="footer-cont-info">
                                    <div class="single-footer-cont-info">
                                        <div class="cont-info-icon">
                                            <i class="ti-mobile"></i>
                                        </div>
                                        <div class="cont-info-content">
                                            <p>+1 35 776 859</p>
                                        </div>
                                    </div>
                                    <div class="single-footer-cont-info">
                                        <div class="cont-info-icon">
                                            <i class="ti-location-pin"></i>
                                        </div>
                                        <div class="cont-info-content">
                                            <p>115 5th Ave, New York</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer-social">
                                    <ul>
                                        <li><a href="#"> <i class="ti-facebook"></i></a></li>
                                        <li><a href="#"> <i class="ti-instagram"></i></a></li>
                                        <li><a href="#"> <i class="ti-twitter-alt"></i></a></li>
                                        <li><a href="#"> <i class="ti-skype"></i></a></li>
                                        <li><a href="#"> <i class="ti-wordpress"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-7">
                            <div class="footer-widget mb-40">
                                <div class="footer-title mb-20">
                                    <h4>Information</h4>
                                </div>
                                <div class="faq-accordion element-mrg">
                                    <div class="panel-group" id="accordion">
                                        <div class="panel footer-accordion">
                                            <div class="panel-heading" id="headingOne">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#checkoutMethod">
                                                        Aditional Pages
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="checkoutMethod" class="panel-collapse collapse show">
                                                <div class="panel-body">
                                                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor nisi elit. </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel footer-accordion">
                                            <div class="panel-heading" id="headingTwo">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#billingInformation">
                                                        Shortcodes Integration
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="billingInformation" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor nisi elit. </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel footer-accordion">
                                            <div class="panel-heading" id="headingThree">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#shippingMethod">
                                                        Alternative Demos
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="shippingMethod" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor nisi elit.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="footer-widget mb-40">
                                <div class="footer-title mb-20">
                                    <h4>Latest Twets</h4>
                                </div>
                                <div class="twitter-info">
                                    <div class="single-twitter-info">
                                        <div class="twitter-icon">
                                            <i class="ti-twitter-alt"></i>
                                        </div>
                                        <div class="twitter-content">
                                            <p>Props to YouTube star @CaseyNeistat for turning an abandoned mall into a #WinterWonderland for dozens of kiddos. <br>
                                            <a href="#">http://bit.ly/2AUNTLV </a></p>
                                        </div>
                                    </div>
                                    <div class="single-twitter-info">
                                        <div class="twitter-icon">
                                            <i class="ti-twitter-alt"></i>
                                        </div>
                                        <div class="twitter-content">
                                            <p>Props to YouTube star @CaseyNeistat for turning an abandoned mall into a #WinterWonderland for dozens of kiddos. <br>
                                            <a href="#">http://bit.ly/2AUNTLV </a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="footer-widget mb-40">
                                <div class="footer-title mb-20">
                                    <h4>Instagram</h4>
                                </div>
                                <div class="instagram-img">
                                    <ul>
                                        <li><a href="#"><img src="assets/img/instragram/1.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="assets/img/instragram/2.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="assets/img/instragram/3.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="assets/img/instragram/4.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="assets/img/instragram/5.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="assets/img/instragram/6.jpg" alt=""></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
</main>