<main>
        <!-- breadcrumb area -->
        <div class="breadcrumb-area bg-img pt-230 pb-152 default-overlay-2" style="background-image: url(assets/img/banner/breadcrumb.jpg);">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <h2>Portfolio</h2>
                    <ul>
                        <li>
                            <a href="/home">Home</a>
                        </li>
                        <li class="active">Portfolio</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="portfolio-area pt-75 pb-80 container-padding-res">
            <div class="container">
                <div class="portfolio-menu-active portfolio-menu-1 pro-menu-btn text-center mb-50">
                    <button class="active" data-filter="*">All</button>
                    <button data-filter=".cat2">Artwork</button>
                    <button data-filter=".cat3">Branding </button>
                    <button data-filter=".cat4">Graphics</button>
                    <button data-filter=".cat5"> Photography</button>
                </div>
                <div class="portfolio-style pro-col-40">
                    <div class="row grid">
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item cat1 cat3">
                            <div class="portfolio-wrap mb-32">
                                <div class="portfolio-img hover-2">
                                    <img alt="" src="assets/img/portfolio/grid3-col-1.jpg">
                                    <div class="portfolio-zoom">
                                        <a class="img-popup" href="assets/img/portfolio/grid3-col-1.jpg"><i class="ti-plus"></i></a>
                                    </div>
                                </div>
                                <div class="portfolio-content">
                                    <div class="portfolio-title">
                                        <h4><a href="/portfolio-details">Portfolio Starts Here</a></h4>
                                    </div>
                                    <div class="portfolio-like">
                                        <span>128 <a href="#"><i class="ti-heart"></i></a></span>
                                    </div>
                                </div>
                            </div>				
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item cat5 cat2">
                            <div class="portfolio-wrap mb-32">
                                <div class="portfolio-img hover-2">
                                    <img alt="" src="assets/img/portfolio/grid3-col-2.jpg">
                                    <div class="portfolio-zoom">
                                        <a class="img-popup" href="assets/img/portfolio/grid3-col-2.jpg"><i class="ti-plus"></i></a>
                                    </div>
                                </div>
                                <div class="portfolio-content">
                                    <div class="portfolio-title">
                                        <h4><a href="/portfolio-details">Build the Next Generation</a></h4>
                                    </div>
                                    <div class="portfolio-like">
                                        <span>57 <a href="#"><i class="ti-heart"></i></a></span>
                                    </div>
                                </div>
                            </div>					
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item cat2 cat4">
                            <div class="portfolio-wrap mb-32">
                                <div class="portfolio-img hover-2">
                                    <img alt="" src="assets/img/portfolio/grid3-col-3.jpg">
                                    <div class="portfolio-zoom">
                                        <a class="img-popup" href="assets/img/portfolio/grid3-col-3.jpg"><i class="ti-plus"></i></a>
                                    </div>
                                </div>
                                <div class="portfolio-content">
                                    <div class="portfolio-title">
                                        <h4><a href="/portfolio-details">Simply Beautiful</a></h4>
                                    </div>
                                    <div class="portfolio-like">
                                        <span>207 <a href="#"><i class="ti-heart"></i></a></span>
                                    </div>
                                </div>
                            </div>				
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item cat5 cat3">
                            <div class="portfolio-wrap mb-32">
                                <div class="portfolio-img hover-2">
                                    <img alt="" src="assets/img/portfolio/grid3-col-4.jpg">
                                    <div class="portfolio-zoom">
                                        <a class="img-popup" href="assets/img/portfolio/grid3-col-4.jpg"><i class="ti-plus"></i></a>
                                    </div>
                                </div>
                                <div class="portfolio-content">
                                    <div class="portfolio-title">
                                        <h4><a href="/portfolio-details">Smart Home  Location</a></h4>
                                    </div>
                                    <div class="portfolio-like">
                                        <span>165 <a href="#"><i class="ti-heart"></i></a></span>
                                    </div>
                                </div>
                            </div>					
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item cat2 cat5">
                            <div class="portfolio-wrap mb-32">
                                <div class="portfolio-img hover-2">
                                    <img alt="" src="assets/img/portfolio/grid3-col-5.jpg">
                                    <div class="portfolio-zoom">
                                        <a class="img-popup" href="assets/img/portfolio/grid3-col-5.jpg"><i class="ti-plus"></i></a>
                                    </div>
                                </div>
                                <div class="portfolio-content">
                                    <div class="portfolio-title">
                                        <h4><a href="/portfolio-details">The Mars Exploration</a></h4>
                                    </div>
                                    <div class="portfolio-like">
                                        <span>62 <a href="#"><i class="ti-heart"></i></a></span>
                                    </div>
                                </div>
                            </div>				
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item cat4 cat3">
                            <div class="portfolio-wrap mb-32">
                                <div class="portfolio-img hover-2">
                                    <img alt="" src="assets/img/portfolio/grid3-col-6.jpg">
                                    <div class="portfolio-zoom">
                                        <a class="img-popup" href="assets/img/portfolio/grid3-col-6.jpg"><i class="ti-plus"></i></a>
                                    </div>
                                </div>
                                <div class="portfolio-content">
                                    <div class="portfolio-title">
                                        <h4><a href="/portfolio-details">Snaps Selfie and Roves</a></h4>
                                    </div>
                                    <div class="portfolio-like">
                                        <span>128 <a href="#"><i class="ti-heart"></i></a></span>
                                    </div>
                                </div>
                            </div>				
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item cat1 cat2">
                            <div class="portfolio-wrap mb-32">
                                <div class="portfolio-img hover-2">
                                    <img alt="" src="assets/img/portfolio/grid3-col-7.jpg">
                                    <div class="portfolio-zoom">
                                        <a class="img-popup" href="assets/img/portfolio/grid3-col-7.jpg"><i class="ti-plus"></i></a>
                                    </div>
                                </div>
                                <div class="portfolio-content">
                                    <div class="portfolio-title">
                                        <h4><a href="#">Rovers Update</a></h4>
                                    </div>
                                    <div class="portfolio-like">
                                        <span>741 <a href="/portfolio-details"><i class="ti-heart"></i></a></span>
                                    </div>
                                </div>
                            </div>				
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item cat5 cat4">
                            <div class="portfolio-wrap mb-32">
                                <div class="portfolio-img hover-2">
                                    <img alt="" src="assets/img/portfolio/grid3-col-8.jpg">
                                    <div class="portfolio-zoom">
                                        <a class="img-popup" href="assets/img/portfolio/grid3-col-8.jpg"><i class="ti-plus"></i></a>
                                    </div>
                                </div>
                                <div class="portfolio-content">
                                    <div class="portfolio-title">
                                        <h4><a href="/portfolio-details">Opportunity Logs Day</a></h4>
                                    </div>
                                    <div class="portfolio-like">
                                        <span>364 <a href="#"><i class="ti-heart"></i></a></span>
                                    </div>
                                </div>
                            </div>				
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item cat1 cat2">
                            <div class="portfolio-wrap mb-32">
                                <div class="portfolio-img hover-2">
                                    <img alt="" src="assets/img/portfolio/grid3-col-9.jpg">
                                    <div class="portfolio-zoom">
                                        <a class="img-popup" href="assets/img/portfolio/grid3-col-9.jpg"><i class="ti-plus"></i></a>
                                    </div>
                                </div>
                                <div class="portfolio-content">
                                    <div class="portfolio-title">
                                        <h4><a href="/portfolio-details">Yoshihide Kozai</a></h4>
                                    </div>
                                    <div class="portfolio-like">
                                        <span>128 <a href="#"><i class="ti-heart"></i></a></span>
                                    </div>
                                </div>
                            </div>				
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item cat1 cat2">
                            <div class="portfolio-wrap mb-32">
                                <div class="portfolio-img hover-2">
                                    <img alt="" src="assets/img/portfolio/grid3-col-1.jpg">
                                    <div class="portfolio-zoom">
                                        <a class="img-popup" href="assets/img/portfolio/grid3-col-1.jpg"><i class="ti-plus"></i></a>
                                    </div>
                                </div>
                                <div class="portfolio-content">
                                    <div class="portfolio-title">
                                        <h4><a href="/portfolio-details">Portfolio Starts Here</a></h4>
                                    </div>
                                    <div class="portfolio-like">
                                        <span>211 <a href="#"><i class="ti-heart"></i></a></span>
                                    </div>
                                </div>
                            </div>				
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item cat5 cat4">
                            <div class="portfolio-wrap mb-32">
                                <div class="portfolio-img hover-2">
                                    <img alt="" src="assets/img/portfolio/grid3-col-2.jpg">
                                    <div class="portfolio-zoom">
                                        <a class="img-popup" href="assets/img/portfolio/grid3-col-2.jpg"><i class="ti-plus"></i></a>
                                    </div>
                                </div>
                                <div class="portfolio-content">
                                    <div class="portfolio-title">
                                        <h4><a href="/portfolio-details">Build the Next Generation</a></h4>
                                    </div>
                                    <div class="portfolio-like">
                                        <span>157 <a href="#"><i class="ti-heart"></i></a></span>
                                    </div>
                                </div>
                            </div>				
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item cat1 cat2">
                            <div class="portfolio-wrap mb-32">
                                <div class="portfolio-img hover-2">
                                    <img alt="" src="assets/img/portfolio/grid3-col-3.jpg">
                                    <div class="portfolio-zoom">
                                        <a class="img-popup" href="assets/img/portfolio/grid3-col-3.jpg"><i class="ti-plus"></i></a>
                                    </div>
                                </div>
                                <div class="portfolio-content">
                                    <div class="portfolio-title">
                                        <h4><a href="/portfolio-details">Simply Beautiful</a></h4>
                                    </div>
                                    <div class="portfolio-like">
                                        <span>128 <a href="#"><i class="ti-heart"></i></a></span>
                                    </div>
                                </div>
                            </div>				
                        </div>
                    </div>
                    <div class="pro-pagination-style text-center mt-35">
                        <ul>
                            <li><a class="active" href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">...</a></li>
                            <li><a href="#">11</a></li>
                        </ul>
                    </div>		
                </div>
            </div>
        </div>
        <footer class="footer-area theme-bg pt-70 pb-50 clear-fix">
            <div class="container">
                <div class="footer-top border-bottom-1">
                    <div class="row">
                        <div class="col-12">
                            <div class="support-text text-center">
                                <h2>Always Ready to Help You 24/7</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-middle pt-65">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-5">
                            <div class="footer-widget mb-40">
                                <div class="footer-title mb-20">
                                    <h4>contact Us</h4>
                                </div>
                                <div class="footer-cont-info">
                                    <div class="single-footer-cont-info">
                                        <div class="cont-info-icon">
                                            <i class="ti-mobile"></i>
                                        </div>
                                        <div class="cont-info-content">
                                            <p>+1 35 776 859</p>
                                        </div>
                                    </div>
                                    <div class="single-footer-cont-info">
                                        <div class="cont-info-icon">
                                            <i class="ti-location-pin"></i>
                                        </div>
                                        <div class="cont-info-content">
                                            <p>115 5th Ave, New York</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer-social">
                                    <ul>
                                        <li><a href="#"> <i class="ti-facebook"></i></a></li>
                                        <li><a href="#"> <i class="ti-instagram"></i></a></li>
                                        <li><a href="#"> <i class="ti-twitter-alt"></i></a></li>
                                        <li><a href="#"> <i class="ti-skype"></i></a></li>
                                        <li><a href="#"> <i class="ti-wordpress"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-7">
                            <div class="footer-widget mb-40">
                                <div class="footer-title mb-20">
                                    <h4>Information</h4>
                                </div>
                                <div class="faq-accordion element-mrg">
                                    <div class="panel-group" id="accordion">
                                        <div class="panel footer-accordion">
                                            <div class="panel-heading" id="headingOne">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#checkoutMethod">
                                                        Aditional Pages
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="checkoutMethod" class="panel-collapse collapse show">
                                                <div class="panel-body">
                                                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor nisi elit. </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel footer-accordion">
                                            <div class="panel-heading" id="headingTwo">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#billingInformation">
                                                        Shortcodes Integration
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="billingInformation" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor nisi elit. </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel footer-accordion">
                                            <div class="panel-heading" id="headingThree">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#shippingMethod">
                                                        Alternative Demos
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="shippingMethod" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor nisi elit.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="footer-widget mb-40">
                                <div class="footer-title mb-20">
                                    <h4>Latest Twets</h4>
                                </div>
                                <div class="twitter-info">
                                    <div class="single-twitter-info">
                                        <div class="twitter-icon">
                                            <i class="ti-twitter-alt"></i>
                                        </div>
                                        <div class="twitter-content">
                                            <p>Props to YouTube star @CaseyNeistat for turning an abandoned mall into a #WinterWonderland for dozens of kiddos. <br>
                                            <a href="#">http://bit.ly/2AUNTLV </a></p>
                                        </div>
                                    </div>
                                    <div class="single-twitter-info">
                                        <div class="twitter-icon">
                                            <i class="ti-twitter-alt"></i>
                                        </div>
                                        <div class="twitter-content">
                                            <p>Props to YouTube star @CaseyNeistat for turning an abandoned mall into a #WinterWonderland for dozens of kiddos. <br>
                                            <a href="#">http://bit.ly/2AUNTLV </a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="footer-widget mb-40">
                                <div class="footer-title mb-20">
                                    <h4>Instagram</h4>
                                </div>
                                <div class="instagram-img">
                                    <ul>
                                        <li><a href="#"><img src="assets/img/instragram/1.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="assets/img/instragram/2.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="assets/img/instragram/3.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="assets/img/instragram/4.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="assets/img/instragram/5.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="assets/img/instragram/6.jpg" alt=""></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
</main>
